<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EDT IUT</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

</head>

<body>
    <div id="app" class="container-fluid">
        <div class="row">
            <div class="col-12">
                <h1 class="text-center">Emploi du temps</h1>
                <div class="row mt-5">
                    <div class="col-2">
                        <input type="image" src="./img/back.png" @click="backAction()" style="width:32px; height:32px"
                            alt="back_button">
                        <input type="image" src="./img/next.png" @click="nextAction()" style="width:32px; height:32px"
                            alt="next_button">
                        <h3>{{displayDate}}</h3>
                        <select name="selectViewType" id="selectViewType">
                            <option value="jour">Jour</option>
                            <option value="semaine">Semaine</option>
                            <option value="mois">Mois</option>
                        </select>
                    </div>

                    <div class="col-9">
                        <div class="row">

                            <div class="col-3 mb-4" style="max-width:none" v-for="unCours in cours">
                                <div class="card" style="width: 18rem;">
                                    <div class="card-body">
                                        <h5 class="card-title">{{unCours.matiere.titre}}</h5>
                                        <h6 class="card-subtitle mb-2 text-muted">{{unCours.dateHeureDebut}} -
                                            {{unCours.dateHeureFin}}</h6>
                                        <p class="card-text">{{unCours.date}} {{unCours.type}} {{unCours.salle.numero}}</p>
                                    </div>
                                    <div class="card-footer text-muted">
                                        {{unCours.professeur.nom}}
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>



                </div>
            </div>




            <!-- <div class="col-4" v-if="professeurSelectionne != null">
                <h2>Avis de {{ professeurSelectionne.prenom + ' ' + professeurSelectionne.nom }}</h2>

                <div class="alert alert-success" v-if="profNotes.includes(professeurSelectionne)">Votre avis a été
                    enregistré !</div>

                <form v-else v-on:submit.prevent="putProfesseurAvis()">
                    <div class="form-group">
                        <label for="">Note</label>
                        <select style="width:min-content" name="" id="" class="form-control" v-model="nouvelAvis.note">
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="">Commentaire</label>
                        <textarea required name="" id="" cols="30" rows="5" style="resize:none"
                            v-model="nouvelAvis.commentaire"></textarea>
                    </div>

                    <div class="form-group">
                        <label for="">Email etudiant</label>
                        <input type="email" name="" id="" class="form-control" v-model="nouvelAvis.emailEtudiant">
                    </div>

                    <div class="form-group">
                        <input type="submit" value="AJOUTER AVIS" class="btn btn-primary">
                    </div>

                </form>

                <div class="card" v-for="unAvis in avis">
                    <div class="card-body">
                        <h5 class="card-title">Note : {{ unAvis.note }} / 5</h5>
                        <p class="card-text">
                            {{ unAvis.commentaire }}
                        </p>
                        <button class="btn btn-danger" v-if="mesAvis.includes(unAvis)"
                            @click="deleteAvis(unAvis)">Supprimer</button>
                    </div>
                </div>
            </div> -->

        </div>
    </div>



    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <script type="text/javascript">
        var app = new Vue({
            el: '#app',
            data: {
                apiBase: 'http://localhost:8000/api',
                professeurs: [],
                avis: [],
                professeurSelectionne: null,
                nouvelAvis: {},
                profNotes: [],
                mesAvis: [],
                cours: [],
                date: "01.01.1970",
                displayDate: "",
            },
            methods: {
                getProfesseurs: function () {
                    axios.get(this.apiBase + '/professeurs')
                        .then(response => {
                            this.professeurs = response.data;
                        })
                        .catch(error => {
                            console.log(error);
                        });
                },
                getProfesseursAvis: function (professeurId) {
                    this.nouvelAvis = {
                        note: 0,
                        commentaire: '',
                        emailEtudiant: ''
                    };

                    axios.get(this.apiBase + '/professeurs/' + professeurId + '/avis')
                        .then(response => {
                            this.avis = response.data;
                            this.professeurSelectionne = this.professeurs.find(professeur => professeur.id = professeurId);
                        })
                        .catch(error => {
                            console.log(error);
                        });
                },
                putProfesseurAvis: function () {
                    axios.put(this.apiBase + '/professeurs/' + this.professeurSelectionne.id + '/avis', this.nouvelAvis)
                        .then(response => {
                            this.avis.push(response.data);
                            this.profNotes.push(this.professeurSelectionne);
                            this.mesAvis.push(response.data);
                        })
                        .catch(error => {
                            console.log(error);
                        });
                }, deleteAvis: function (avis) {
                    axios.delete(this.apiBase + '/avis/' + avis.id)
                        .then(respodeleteAvisnse => {
                            this.getProfesseursAvis(this.professeurSelectionne.id);
                            this.mesAvis.splice(this.mesAvis.indexOf(avis), 1);
                            this.profNotes.splice(this.profNotes.indexOf(professeurSelectionne), 1);
                        })
                        .catch(error => {
                            console.log(error);
                        });
                }, getCours: function () {
                    axios.get(this.apiBase + '/cours')
                        .then(response => {
                            console.log(response.data[0])
                            this.cours = response.data;
                        })
                        .catch(error => {
                            console.log(error);
                        });
                }, backAction: function () {
                    var currentDate = new Date(this.date)
                    currentDate.setDate(currentDate.getDate() - 1);
                    this.date = currentDate;
                    this.displayDate = this.formatDate(currentDate);
                }, nextAction: function () {
                    var currentDate = new Date(this.date)
                    currentDate.setDate(currentDate.getDate() + 1);
                    this.date = currentDate;
                    this.displayDate = this.formatDate(currentDate);
                }, formatDate: function (date) {
                    var currentDate = new Date(date);
                    var day = currentDate.getDate();
                    var month = currentDate.getMonth() + 1;
                    var year = currentDate.getFullYear();
                    month < 10 ? month = "0" + month : month;
                    currentDate = day + "." + month + "." + year;
                    return currentDate;
                }, isClassesToday: function (classesDate) {
                    return this.displayDate == classesDate ? true : false;
                },
            },
            mounted() {
                // this.getProfesseurs();
                this.date = new Date();
                this.displayDate = this.formatDate(this.date);
                this.getCours()
            }
        });
    </script>
</body>

</html>


<!-- 

{
                    matiere: "Maths",
                    date: "16.03.2020",
                    heureDebut: "11h00",
                    heureFin: "12h00",
                    type: "type",
                    professeur: "M. Machin",
                    salle: 101,
                }, {
                    matiere: "Français",
                    date: "16.03.2020",
                    heureDebut: "12h00",
                    heureFin: "13h00",
                    type: "type",
                    professeur: "M. Truc",
                    salle: 202
                }, {
                    matiere: "Anglais",
                    date: "16.03.2020",
                    heureDebut: "10h00",
                    heureFin: "11h00",
                    type: "type",
                    professeur: "M. Bidule",
                    salle: 10,
                }, {
                    matiere: "Physique",
                    date: "16.03.2020",
                    heureDebut: "09h00",
                    heureFin: "10h00",
                    type: "type",
                    professeur: "M. Chouette",
                    salle: 305
                }, {
                    matiere: "Physique",
                    date: "16.03.2020",
                    heureDebut: "09h00",
                    heureFin: "10h00",
                    type: "type",
                    professeur: "M. Chouette",
                    salle: 305
                }, {
                    matiere: "Physique",
                    date: "16.03.2020",
                    heureDebut: "09h00",
                    heureFin: "10h00",
                    type: "type",
                    professeur: "M. Chouette",
                    salle: 305
                }, {
                    matiere: "Maths",
                    date: "18.03.2020",
                    heureDebut: "11h00",
                    heureFin: "12h00",
                    type: "type",
                    professeur: "M. Machin",
                    salle: 101,
                }, {
                    matiere: "Français",
                    date: "18.03.2020",
                    heureDebut: "12h00",
                    heureFin: "13h00",
                    type: "type",
                    professeur: "M. Truc",
                    salle: 202
                }

-->